/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/* 
1. Vị trí
2. Kích thước
3. Màu sắc 
4. Kiểu dáng
*/
/* common */
.clear {
    clear: both;
}

.text-align{
    text-align:center !important;
}

.text-white{
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

/* main */
#main{

}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

#nav {
    display: inline-block;
}

#nav .subnav {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li { 
    position: relative;
    
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    width: 100%;
    padding-left: 16px;
    line-height: 38px;
    
}

#nav .nav-arrow-down{
    font-size: 12px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;  
}


#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
   
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 10px;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 27px;
    padding-top: 50%;
    background: url("/assets/css/slider/picture/dalat2.jpg") center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* cách 1 căng giữa */
    width: 100%;

    /* cách 2 căng giữa */
         /* left: 50%;
    transform: translateX(-50%); */

    /* cách 3 căng giữa */
    /* left: 0;
    right: 0; */
    text-align: center;
}
#slider .text-heading{

    font-weight: 500px;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}


#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-item{
    margin-top: 40px;
    
    text-align: center;
}

#content .member-list {
    margin-top: 32px;
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}


.tour-section {
    background-color: #000;
}

.ticket-list {
    margin-top: 40px;
    list-style: none;
    background-color: #fff;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .Sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;    
   
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2px;
} 

.place-list{
    margin-top: 16px;
    margin-bottom: 48px;
}
.place-item{
    width: 33.33333%;
}

.place-img:hover{
    opacity: 0.6;
}

.place-img{
    width: 100%;
    display: block; 
}
.place-body{
    background-color: #fff;
    font-size: 15px;
    padding: 16px;
}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-description{
    margin-top: 15px;
    line-height: 1.4;
}

.place-buy-btn:hover{
    color: #000;
    background-color: #ccc;
}

.place-buy-btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    appearance: none;
   -webkit-appearance: none;

}

#footer{

}

.modal.open {
    display: flex;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease .7s;
}


.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;    
    color: #fff;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-close:hover{
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px   ;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-ticket:hover{
    opacity: 0.9;
}

#buy-ticket {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 17px;
    cursor: pointer;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;

}

.contact-info a:hover {
    opacity: 1;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
    text-decoration: none;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    outline: #2196f3;
    width: 100%;
}

.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;    
}

.contact-form .form-submit-btn {
    color: #ccc;
    background-color: #000;
    border: none;   
    padding: 11px 16px;
    float: right;
    -webkit-appearance: none;
}

.map-section img {
    width: 100%;
}

.modal-footer a {
    color: #2196f3;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

#footer {
    padding: 64px 14px; 
    text-align: center; 
}

#footer .social-list {
    font-size: 24px;
}
#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.7);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

@keyframes modalFadein {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}